@media screen and ( max-width: 425px) {
    nav {
        height: 8vh;
    }
    nav h1 a {
        font-size: 12pt;
        letter-spacing: 5px;
        line-height: 8vh;
    }
    #map {
        max-height: 60vh;
    }
    .filter-options {
        text-align: center;
        height: 100%;
    }
    .filter-options h2 {
        display: block;
        font-size: 20pt;
        padding-top: 10px;
    }
    .filter-options select {
        box-sizing: border-box;
        border-radius: 1px;
        font-size: 12pt;
        height: 48px;
        width: calc(100% - 20px);
    }
    #restaurants-list {
        padding: 0;
    }
    #restaurants-list li {
        box-sizing: border-box;
        border: 1px solid #ccc;
        margin: 10px;
        padding: 0 15px 10px;
        width: calc(100% - 20px);
        border-radius: 10px;
    }
    #restaurants-list .restaurant-img {
        min-height: 0;
    }
    #restaurants-list p {
        font-size: 13pt;
    }
    #restaurants-list li a {
        box-sizing: border-box;
        font-size: 12pt;
        height: 40px;
        width: calc(100% - 20px);
        margin: 15px 10px 5px;
        padding: 8px 30px 10px;
        border-radius: 2px;
        border-bottom: 1px solid #eee;
    }
}

/* @media screen and ( min-width: 321px) and (max-width: 425px) {
    nav {
        height: 8vh;
    }
    nav h1 a {
        font-size: 6pt;
        letter-spacing: 5px;
        line-height: 8vh;
    }
} */

@media screen and (min-width: 426px) and (max-width: 768px) {
    nav {
        height: 10vh;
    }
    nav h1 a {
        line-height: 10vh;
    }
}